/* ----------------------------------------

Reset stylesheet

------------------------------------------*/
*{
  border: 0;
  padding: 0;
  margin: 0;
}

/* ----------------------------------------

Home Page Styles

------------------------------------------*/

body{
  background-image: url("../images/background-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----------------------------------------

Header/Navigation Styles

------------------------------------------*/
header{
  background: black;
  width: 100%;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
}

.secondary {
  background: black;
  width: 100%;
  height: 7%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

nav{
  width: 90%;
  margin: 0 auto;
}

#navlogo{
  width: 20%;
  height: 50px;
  color: white;
  position: relative;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 0 3%;
}

/* Reference: https://codepen.io/Sh_02/pen/OKRzaO */

#navlogo:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 180%;
    top: -20px;
    left: 0;
    z-index: -1;
    border-right: 10px solid white;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}

#navlogo img{
  width: 200px;
  object-position: center center;
  position: relative;
  top: -50%;
}

#navitems{
  width: 60%;
  position: relative;
  left: 15%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#navitems ul li{
  display: inline-block;
  margin: 0 60px;
}

#navitems ul li a{
  text-decoration: none;
  font-size: 2.5em;
  font-family: 'Bebas Neue', cursive;
}

.link1{
  color: #B24F9E;
}

.link2{
  color: #319EC8;
}

.link3{
  color: #A76E25;
}

/* ----------------------------------------

About Page Styles

------------------------------------------*/

.body2{
  background: white;
}

.section1{
  width: 100%;
  position: relative;
  top: 100px;
  height: 400px;
}

.section1 div{
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translateY(-50%);
}

.section1 h1{
  font-family: 'Bebas Neue', cursive;
  color: #B24F9E;
  font-size: 4em;
  letter-spacing: 8px;
  text-align: right;
}

.section1 p{
  text-align: right;
  font-size: 2em;
  font-family: 'Segoe UI', sans-serif;
}

.section1 p::before{
  content: '< ';
}

.section1 p::after{
  content: ' /> ';
}

section h2{
  font-family: 'Bebas Neue', cursive;
  color: #000000;
  font-size: 3em;
  letter-spacing: 4px;
  margin-top: 20px;
}

.section2{
  width: 100%;
  height: 600px;
  background: #B0B1B6;
}

.section2 div,
.section3 div{
  /*width: 37%;*/
  height: 600px;
  position: relative;
  float: left;
  padding: 0 5%;
}

.col1{
  width: 50%;
}

.col2{
  width: 18%;
}

.section2 p,
.section3 p{
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.75em;
  margin-top: 10px;
}

.section2 img{
  width: 400px;
  position: relative;
  left: 40%;
  text-align: right;
}

.section3{
  width: 100%;
  height: 800px;
}

.section3 img{
  width: 400px;
  position: relative;
}

.section3 .col1{
  position: relative;
  left: 10%;
  top: 10%;
}

h3{
  margin-top: 10px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 18px;
}
